<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Corporation",
    "name": "22 Delta",
    "alternateName": [
      "22 Delta Labs",
      "22 Delta Labs Inc"
      ],
    "url": "https:/www.22delta.com",
    "logo": "https://d33wubrfki0l68.cloudfront.net/830d1c89afb39998d49cde20e77be6bc4b613fb7/f3ae4/assets/img/logo-black.webp",
    "sameAs": [
      "https://www.facebook.com/22deltalabs",
      "https://twitter.com/22deltalabs",
      "https://www.instagram.com/22deltalabs",
      "https://www.linkedin.com/company/22deltalabs"
    ]
  }
</script>
