<form class="ajax" action="https://formcarry.com/s/RMFTDTWPPo4" method="POST">
  <input type="hidden" name="_gotcha">
  <section id="contact" class="section contact-section">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <div class="form-input-container">
            <h6 class="section-superheader">Work with us</h6>
            <p><strong>Let us know</strong> how we can help you using the form below.</p>
            <div class="form-section form-section-info">
              <label>
                Hello, I am
                <span class="sentence-input"><input type="text" name="name" placeholder="Jaime Hing" required="" style="width: 190px;">,</span>
              </label>
              <label>
                currently a
                <span class="sentence-input"><input type="text" name="job title" placeholder="Product Manager" style="width: 295px;"></span>
              </label>
              <label>
                at
                <span class="sentence-input"><input type="text" name="company" placeholder="Acme Media Inc." style="width: 285px;"></span>
              </label>
              <label>
                I need help with
                <span class="sentence-input">
                    <div class="select-wrapper">
                    <select name="needs" required="" style="width: 230px;">
                      <option value="" disabled="" selected="" hidden="">Data Science</option>
                      <option value="Data Science">Data Science</option>
                      <option value="UI/UX Design">UI/UX Design</option>
                      <option value="Web/Mobile Apps">Web/Mobile Apps</option>
                      <option value="Product Development">Product Development</option>
                      <option value="Infrastructure/DevOps">Infrastructure/DevOps</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>.
                </span>
              </label>
              <label>
                and I need it
                <span class="sentence-input">
                  <div class="select-wrapper">
                    <select name="urgency" required="" style="width: 330px;">
                      <option value="" disabled="" selected="" hidden="">in the next 30 days</option>
                      <option value="Urgent">immediately</option>
                      <option value="30 days">in the next 30 days</option>
                      <option value="3 months">in the next 3 months</option>
                      <option value="Greater than 3 months">after 3 months</option>
                    </select>
                  </div>.
                </span>
              </label>
            </div>
            <div class="form-section form-section-contact">
              <label>
                Please contact me at
                <span class="sentence-input"><input type="tel" name="phone" placeholder="0918 123 4567" style="width: 242px;"></span>
              </label>
              <label>
                or via email at
                <span class="sentence-input"><input type="email" name="email" placeholder="jaime.hing@acmecorp.net" required="" style="width: 440px;">.</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-12 medium-8 large-6 text-center medium-text-left">
          <div class="success-message" style="display: none;">
            <h3 class="success-message-text">Thank you! We will get in touch soon.</h3>
            <button type="button" class="button clear reset-form-button">Send Another Message</button>
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x align-middle">
          <div class="cell small-12 medium-shrink text-center medium-text-left">
              <button type="submit" class="button send-message-button">Send this Message</button>
              <button type="button" class="button disabled message-sent-button" style="display: none;">Message sent!</button>
          </div>
          <div class="cell small-12 medium-auto text-center medium-text-right">
            <span class="error-message" style="display: none;">
              <i class="fas fa-3x fa-exclamation-triangle"></i><br>An error occurred sending your message. Try again later, or email us at <a class="error-email" href="mailto:sales@22delta.com">sales@22delta.com</a> or call <a href="tel:+6326231545" class="error-tel">+63 (2) 623-1545</a>.
            </span>
          </div>
        </div>
        <div class="cell small-12 medium-shrink medium-text-left other-contact-info">
            <p>You may also reach us via email or phone.</p>
            <p>
              Our email address is <a href="mailto:sales@22delta.com">sales@22delta.com</a>.<br>
              Call our Manila office phone at <a href="tel:+6326231545">+63 (2) 623-1545</a><br>
              or thru our US phone at <a href="tel:+16507971999">+1 (650) 797-1999</a>.
            </p>
            <p>Our hours are weekdays 9am-5pm, HK time.</p>

        </div>
    </div>

  </section>
</form>
