<section class="section design-section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <h3 class="section-header design-section-header">
            Through <strong>design thinking</strong>, we build products with an identity that leaves a lasting impression.
          </h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-right">
      <div class="cell medium-8 large-6">
        <h4 class="section-subheader design-section-subheader">Empathise</h4>
        <p>We put ourselves in other people's shoes and connect with how they
          might be feeling about their problems thus learning about your customers.</p>
        <h4 class="section-subheader design-section-subheader">Interpret</h4>
        <p>We analyse your observations and synthesise them in order to define
          the core challenges that you and your team have identified.</p>
        <h4 class="section-subheader design-section-subheader">Visualise</h4>
        <p>We identify new solutions to your core business problems and start to look
          for alternative and better ways of looking at them.</p>
        <h4 class="section-subheader design-section-subheader">Prototype</h4>
        <p>Our core belief is that you deserve only the best technology. We implement them within
          the prototypes, and, one by one, they are investigated and either accepted,
          improved and re-examined or rejected based on the feedback of your customers.</p>
        <h4 class="section-subheader design-section-subheader">Assess</h4>
        <p>Through our rigorous testing processes, we build the final product using only the
          best solutions identified during the prototyping phase.</p>
      </div>
    </div>
  </div>
</section>
