<footer class="footer">
    <div class="grid-container">
      <div class="grid-x align-justify align-middle">
        <div class="cell small-12 medium-shrink">
          <span class="copyright">© <strong>22 Delta Labs <script>document.write(new Date().getFullYear())</script></strong>. Bonifacio Global City, Philippines.</span>
        </div>
        <div class="cell small-12 medium-shrink">
          <a href="mailto:sales@22delta.com" class="footer-link">sales@22delta.com</a>
        </div>
      </div>
    </div>
  </footer>
