<section class="section intro-section">
    <div class="grid-container">
      <div class="grid-x align-middle">
        <div class="cell medium-8 large-6">
          <h2 class="section-header">
            We partner with principled and ambitious business leaders and use engineering to bring innovation to life</h2>
          <div class="text-center medium-text-left">
            <a href="#contact" class="button primary">Get in Touch</a>
            <a href="#more" class="button secondary clear">Learn More <i class="fas fa-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
