<section id="more" class="section more-section">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-right">
        <div class="cell medium-8 large-6">
          <h3 class="section-header more-section-header">
            Technology is changing the world faster than anyone can keep up.
            You need the <strong>engineering powerhouse</strong> to transform your business.
          </h3>
          <h4 class="section-subheader more-section-subheader">
              22 Delta specialises in building custom products that help you create more value.
              We identify complex challenges in places that matter and ship products that work so you can focus on what you do best.
          </h4>
        </div>
      </div>
    </div>
  </section>
