<section class="section our-specialisation-section">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell medium-8 large-7">
          <h3 class="section-header">We have expertise using new technologies in the areas of
            <div class="reel">
              <div class="reel-item"><strong>web development</strong></div>
              <div class="reel-item"><strong>mobile apps</strong></div>
              <div class="reel-item"><strong>data science</strong></div>
              <div class="reel-item"><strong>machine learning</strong></div>
              <div class="reel-item"><strong>artificial intelligence</strong></div>
            </div>
          </h3>
          <h4 class="section-subheader">Our mission is to help you <strong>transform your business</strong> and <strong>solve your
            core problems</strong> using only modern technological standards so you are ready for the future, today.</h4>
          <p class="section-text">
            We are a team with global experience. Our engineers, partners and advisors come from top-notch institutions,
            such as MIT, Cornell and Stanford, and industry leaders, such as Oracle, McKinsey and Globe Telecom.
          </p>
        </div>
      </div>
    </div>
  </section>
