<section class="section team-section">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell text-center">
        <h2 class="section-header">
          We are an engineering driven company.</h2>
        <h3 class="section-sub-header">
          Our mission is simple: to build things that help people change the world for the better.
          At 22 Delta we're all engineers. We seek out hard problems at places that matter.
          We are obsessed with iteration, and we ship products that adapt to the changing
          needs of our time. Our work is just getting started. By knowing that we are only solving
          a fraction of what's possible, we stay focused on expanding our unlimited imagination.

           </h3>
      </div>
    </div>
  </div>
</section>
