<section class="section team-section">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell text-center">
        <h2 class="section-header">
          We are an engineering driven company.</h2>
        <h3 class="section-sub-header">
          We seek out hard problems at places that matter.
          We solve them by shipping products that work, today.
          They have to, because the stakes are real.
          People rely on our products to do their most important work, which means they rely on us to build things the right way.</h3>
      </div>
    </div>
  </div>
</section>
