<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <main>
      {{ partial "intro-section.html" . }}
      {{ partial "learn-more.html" . }}
      {{ partial "our-specialisation.html" . }}
      {{ partial "contact-form.html" . }}
      {{ partial "team-section.html" . }}
      {{ partial "footer-section.html" . }}
    </main>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery.browser.min.js"></script>
    <script src="/assets/js/jquery.form.min.js"></script>
    <script data-filter="html:not(.browser-mozilla):not(.browser-msedge) select, html:not(.browser-msie):not(.browser-msedge) input, html:not(.browser-mozilla):not(.browser-msie):not(.browser-msedge)" src="/assets/js/stretchy.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
